
  <div class="container my-3">
    <div class="row mt-4">
      <div class="col">
        <a class="btn btn-primary" role="button" id="new-post-btn">Add New Post</a>
      </div>
      <div class="col-6">
        <div class="form-group float-right">
          <select class="custom-select" id="post-category">
            <option selected value="All Categories">All Categories</option>
            <option value="Personal">Personal</option>
            <option value="Product Review">Product Review</option>
            <option value="Political">Political</option>
          </select>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid">
  <div class="row justify-content-center row-cols-sm-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-4">
  {{#each posts}}   
    <div class="col mb-2 {{category}}">
    <div class="card post-card post-container">
      <div class="card-body">
         <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{category}}</h6>
        <p class="card-text">{{posted}}</p>
        <div class="d-flex justify-content-around align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary like-btn" role="button" data-id="{{id}}" id="likebtn{{id}}">{{likes}} Like</button>
            <button type="button" class="btn btn-sm btn-outline-secondary dislike-btn" role="button" data-id="{{id}}" id="dilsikebtn{{id}}">{{dislikes}} Dislike</button>
          </div>
          <small class="text-muted">{{username}}</small>
        </div>
      </div>
    </div>
    </div>
  {{/each}}
  </div>
</div>
  
